# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2

multi-ecosystem-groups:
  tests:
    schedule:
      interval: "weekly"

updates:
  - package-ecosystem: "npm"
    multi-ecosystem-group: "tests"
    directory: "/"
    groups:
       dev-dependencies:
          applies-to: version-updates
          patterns:
            - "*"
          exclude-patterns:
            - "web-ext"
  - package-ecosystem: "docker"
    multi-ecosystem-group: "tests"
    directory: "/"
    patterns:
      - "*"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
