@media (prefers-color-scheme: light) {
    :root {
        --background-color: #fff;
        --text-color: #000;
        --link-color: #004650;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #23222b;
        --text-color: #ddd;
        --link-color: #bde;
    }
}

body {
    min-width: 600px;
}

body,
input {
    background-color: var(--background-color);
    color: var(--text-color);
}

a {
    color: var(--link-color);
}

.container > label {
    display: block;
}

.container > * {
    margin: 12px 0;
}

li {
    line-height: 2;
}

#savingindicator {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 20px;
    mask-image: url('icons/si-glyph-checked.svg');
    -webkit-mask-image: url('icons/si-glyph-checked.svg');
    background-color: limegreen;
    opacity: 0;
    transition: all ease-out 1s;
}

#savingindicator.saved {
    opacity: 1;
    transition: none;
}

#clear {
    height: 32px;
}
