body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    min-width: 300px;
    background: white;
}

.search input {
    box-sizing: border-box;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #6BD6E4;
    background: url("icons/si-glyph-magnifier.svg") center right 6px no-repeat;
    background-size: 16px 16px;
    padding: 7px 20px 7px 7px;
}

.search input:focus {
    outline: 0;
}

.status-text {
    padding: 6px;
    text-align: center;
}

.results {
    width: 100%;
    min-width: 160px;
}

.login {
    display: block;
    box-sizing: border-box;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 10px 7px 10px 32px;
    cursor: pointer;
    border: 0;
    border-bottom: 1px dotted #6BD6E4;
    text-align: left;
    background: white url('icons/si-glyph-key-2.svg') no-repeat left 8px center;
    background-size: 16px 16px;
    line-height: 1.2;
    font-size: 12px;
    min-height: 32px;
}

.login:last-of-type {
    border-bottom: 0;
}

.login:hover,
.login:focus {
    outline: 0;
    background-color: #b6dee3;
}

.loader {
    margin: 12px auto;
    display: block;
    text-indent: -9999999px;
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-left-color: black;
    -webkit-transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    overflow: hidden;
    border-radius: 50%;
    vertical-align: middle;
    width: 12px;
    height: 12px;
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

.copied {
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    height: 40px;
    margin: auto;
    font-size: 20px;
}

.create > form {
    display: block;
}

.create > form > div {
    padding: 5px;
    width: 100%;
}

#create_name {
    width: 77%;
}

#create_login {
    width: 56%;
}

#create_password {
    width: 70%;
}

#create_password:disabled,
#create_generate_length:disabled
{
    background-color: lightgray;
}

#create_docreate,
#create_doabort {
    display: block;
    box-sizing: border-box;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 10px 7px 10px 32px;
    cursor: pointer;
    border: 0;
    text-align: center;
    background-size: 16px 16px;
    line-height: 1.2;
    font-size: 14px;
    min-height: 32px;
}

#create_docreate {
    background: #b6dee3;
}

#create_doabort {
    background: #ffb0b0;
}

#create_docreate:hover,
#create_docreate:focus {
    outline: 0;
    background-color: #9ac0c5;
}

#create_doabort:hover,
#create_doabort:focus {
    outline: 0;
    background-color: #ff8080;
;
}
